*{
  box-sizing: border-box;
  font-family: monospace;
  font-size: 1.2rem;
}
body{
  display: flex;
  justify-content: center;
}
.container{
  width:600px;
  border:2px solid black;
  padding: 10px;
}
.userInput{
  display: grid;
  width:100%;
  grid-template-columns: 4fr 1fr;
}
.task{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  padding: 5px 5px;
  margin-top: 1px;
}

.task>*{
  margin:0;
  padding:3px;
}
